body{
    background-color: rgb(115, 215, 255);
}
.tit{
    font-size: 40px;
    color: aliceblue;
    background-color: blue;
    padding: 35px;
    padding-left: 830px;
}
@media screen and (max-width: 900px) {
    .tit{
        background-color: blue;
        padding-left: 105px;
    }
}
.infoprinci{
    margin-top: 50px;
    margin-left: 50px;
}
.estuimagen{
    width: 550px;
    height: 500px;
    border-radius: 20px;
}
@media screen and (max-width: 900px) {
    .estuimagen{
        width: 300px;
        height: 270px;
        border-radius: 20px;
        position: relative;
        left: -10px;
    }
}
.uno{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 35px;
}
@media screen and (max-width: 900px) {
    .uno{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.dos{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 25px;
}
@media screen and (max-width: 900px) {
    .dos{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.tres{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 35px;
}
@media screen and (max-width: 900px) {
    .tres{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.cuatro{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 25px;
}
@media screen and (max-width: 900px) {
    .cuatro{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.cinco{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 35px;
}
@media screen and (max-width: 900px) {
    .cinco{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.seis{
    position: relative;
    left: 570px;
    bottom: 520px;
    font-size: 25px;
}
@media screen and (max-width: 900px) {
    .seis{
        position: relative;
        left: -40px;
        bottom: 5px;
        font-size: 35px;
    }
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    background-color: rgb(0, 181, 255);
    font-size: 30px;
}
@media screen and (max-width: 900px) {
    .links{
        font-size: 14px;
    }
}
.ini{
    border: 5px solid white;
    border-radius: 20px;
    background-color: lightskyblue;
    padding: 30px;
}
.ini:hover{
    background-color: aliceblue;
    border: 5px solid blue;
    border-radius: 20px;
}
.tini{
    text-decoration: none;
    color: black;
}
.habi{
    border: 5px solid white;
    border-radius: 20px;
    background-color: lightskyblue;
    padding: 30px;
}
.habi:hover{
    background-color: aliceblue;
    border: 5px solid blue;
    border-radius: 20px;
}
.thabi{
    text-decoration: none;
    color: black;
}
.est{
    border: 5px solid white;
    border-radius: 20px;
    background-color: lightskyblue;
    padding: 30px;
}
.est:hover{
    background-color: aliceblue;
    border: 5px solid blue;
    border-radius: 20px;
}
.test{
    text-decoration: none;
    color: black;
}
.con{
    border: 5px solid white;
    border-radius: 20px;
    background-color: lightskyblue;
    padding: 30px;
}
.con:hover{
    background-color: aliceblue;
    border: 5px solid blue;
    border-radius: 20px;
}
.tcon{
    text-decoration: none;
    color: black;
}